extends ./layout/index

block contenido
    main.container.mt-5 
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="imaen sobre nosotros" class="img-fluid")
            .col-md-7
                h1= pagina

                blockquote ipsum dolor sit amet, consectetur adipiscing elit. Maecenas malesuada condimentum tincidunt. Suspendisse potenti. Donec faucibus eu neque vitae aliquet. Integer tincidunt semper dui, sed suscipit ligula accumsan et. Donec dapibus libero quis consequat sollicitudin. Nulla iaculis, nulla non pulvinar dictum, lorem lectus aliquelus finibus sagittis neque convallis tincidunt.

                p risus id purus consectetur imperdiet. Aliquam erat volutpat. Morbi eu lacus et massa mattis ullamcorper id ornare arcu. Vestibulum sit amet dignissim urna. Donec sit amet nibh ac enim sagittis euismod. Ut semper magna a velit eleifend, et dapibus eros blandit. Sed hendrerit ullam 

                p corper odio ac lobortis. Donec pulvinar velit sed nisl volutpat, sit amet ultrices ligula pellentesque. Maecenas ligula pellentesque. Maecenas ligula pellentesque. Maecenas iaculis pharetra ultrices.
    .listado-iconos 
        .container.mt-5.py-5.text-center
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="" class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat beatae ipsam ullam dolore omnis ipsum repellat voluptatem molestiae, quod, nam fuga
                
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="" class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos 
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat beatae ipsam ullam dolore omnis ipsum repellat voluptatem molestiae, quod, nam fuga
                
                .col-md-4
                    img(src="img/icono_precios.svg", alt="" class="img-fluid mb-4")
                    h2.mb-4 Mejores Precios 
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat beatae ipsam ullam dolore omnis ipsum repellat voluptatem molestiae, quod, nam fuga